<h1 class="text-success text-center">Angular Diretivas</h1>

<!-- Diretivas de Atributo -->
<div
  [ngStyle]="{ background: count < 5 ? 'red' : 'green' }"
  [ngClass]="{ custom: count > 5 }"
>
  <h2 class="text-center">Contador: {{ count }}</h2>
</div>

<!-- Diretivas Estruturais -->

<h2 class="text-center" *ngIf="count > 7; else menor">Contador passou de 7</h2>

<ng-template #menor>
  <h2 class="text-center">Contador é menor que 7</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto my-3 col-3">
  <li class="list-group-item" *ngSwitchCase="3">É igual a 3</li>
  <li class="list-group-item" *ngSwitchCase="5">É igual a 5</li>
  <li class="list-group-item" *ngSwitchCase="8">É igual a 8</li>
  <li class="list-group-item" *ngSwitchDefault>Default</li>
</ul>

<ul class="list-group mx-auto col-3">
  <li class="list-group-item" *ngFor="let pessoa of pessoas">
    {{ pessoa.nome }} {{ pessoa.sobrenome }}
  </li>
</ul>

<div class="col-4 mx-auto my-3">
  <h3>{{ nome }}</h3>
  <button class="btn btn-success" (click)="clicou()">Clique aqui</button>
</div>

<div class="col-4 mx-auto">
  <input type="text" class="form-control" placeholder="Digite..." [(ngModel)]="text">
  <h4>Saída: {{text}}</h4>
</div>